<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="custom-title">Weekly Tasks</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of taskCards">
    <img [src]="card.image" />
    <ion-card-header>
      <ion-card-title>{{ card.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ card.description }}</p>

      <div class="progress-outer">
        <div class="progress-inner" [style.width]="getProgressPercentage(card)">
          {{ getProgressPercentage(card) }}
        </div>
      </div>
      <ion-button (click)="onCardButtonClick(card)">Done</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
