ion-content {
  --background: rgb(227, 255, 221);
  --background: linear-gradient(
    24deg,
    rgba(227, 255, 221, 1) 0%,
    rgba(246, 231, 251, 1) 50%,
    rgba(215, 231, 250, 1) 100%
  );
}

ion-button {
  --background: #b2d2a4;
}

ion-card-title {
  font-weight: lighter;
  font-style: italic;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendButton {
  --background: rgb(227, 255, 221);
  --background: linear-gradient(
    24deg,
    rgba(227, 255, 221, 1) 0%,
    rgba(246, 231, 251, 1) 50%,
    rgba(215, 231, 250, 1) 100%
  );
  color: black;
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
}

.ionCard {
  background: white;

  width: 80%;
}

.inputArea {
  width: 100%;
  border: solid 1px #f8c8dc;
  --background: white;
  border-radius: 15px;
}

ion-item {
  --ion-item-background: #faebd7;
}

.resetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60vh;
}
