ion-content{
  width:100%;
}

.custom-title {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: xx-large;
  }
  ion-toggle{
    display:flex;
    justify-content:space-between;
    font-size: large;
  }

  p{
    font-size: large;
  }

  ion-card{

    height:10%;
  }

 

  .cardContainer{
    display:flex;
    align-items: center;


  }

 .contentContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
 }

 .signOutButton{

  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:100%;
  border-radius:15px;

 }

 ion-button{
  --background: rgb(215, 231, 250);
  --background: linear-gradient(
    336deg,
    rgba(215, 231, 250, 1) 0%,
    rgba(241, 201, 255, 1) 50%,
    rgba(215, 250, 245, 1) 100%
  );
  --color: black;
 }