<ion-header>
<ion-toolbar>
  <ion-title size="large" class="custom-title">Preferences</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-content>
    <ion-toggle [checked]="true">Notifications</ion-toggle><br /><br />
  </ion-card-content>
</ion-card>

<ion-card class="cardContainer">
  <ion-card-content class="contentContainer">
    <p>Language</p>

    <ion-list>
      <ion-item>
        <ion-select aria-label="language" placeholder="English">
          <ion-select-option value="eng">English</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
  </ion-card-content>
</ion-card>
<div class="buttonContainer">
  
  <ion-button class="signOutButton" (click)="signOut()">
    Sign Out
  </ion-button>
  
</div>

</ion-content>
