

<ion-content>
  <div class="container">

    <ion-card class="profileCardContainer">
      <ion-card-content>
        <div class="cardContainer">
          <img src="../../assets/UserPhotos/userPhoto.jpg" />
          <h1>John Doe</h1>
          <p>Turkey</p>
        </div>

      </ion-card-content>
    </ion-card>

  </div>


  <div class="postSection">
    <ion-card class="postContainer" *ngFor="let card of postCards">
      <ion-card-header class="headerContainer">
        <img class="image" src="../../assets/UserPhotos/userPhoto.jpg" />
        <p class="userNameContainer">{{card.writer}}</p>
        <p class="postTime">{{card.time}}</p>
      </ion-card-header>
      <ion-card-content> {{card.content}} </ion-card-content>
    </ion-card>
  </div>
 
</ion-content>
