

<ion-content>
  <div class="container">

    <ion-card class="profileCardContainer">
      <ion-card-content>
        <div class="cardContainer">
          <img [src]="userProfile.avatar" />
          <h1>{{userProfile.username}}</h1>
          <ion-button size="small" color="primary" (click)="settingsAction()">Preferences</ion-button>
        </div>

      </ion-card-content>
    </ion-card>

  </div>


  <div class="postSection">
    <ion-card class="postContainer" *ngFor="let card of community">
      <ion-card-header class="headerContainer">
        <div class="headerMargin">
          <img class="image" [src]="card.avatar" /> <!-- use the avatar URL -->
          <p class="userNameContainer">{{card.writer}}</p>
        </div>
        <p class="postTime">{{card.time}}</p>
      </ion-card-header>
      <ion-card-content> {{card.content}} </ion-card-content>
    </ion-card>
    
  </div>
 
</ion-content>
