<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="tabBtn1" tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="labelColor">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabBtn2" tab="tab2">
      <ion-icon size="xx-large" src="../../assets/icons/brain.svg"></ion-icon>
      <ion-label class="labelColor">Self Care</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabBtn3" tab="tab3">
      <ion-icon src="../../assets/icons/users.svg"></ion-icon>
      <ion-label class="labelColor">Community</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
