<!-- <ion-header>
  <ion-toolbar>
    <ion-title size="large" class="custom-title">Form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="question-container">
      <div class="question" *ngFor="let question of questions">
        <div *ngIf="question.type === 'multiple-choice'">
          <h2>{{ question.question }}</h2>
          <ion-checkbox
            class="checkbox-wrapper"
            *ngFor="let choice of question.choices"
            [checked]="choice === question.answer"
            (ionChange)="updateAnswer(question, choice)"
          >
            {{ choice }}
          </ion-checkbox>
        </div>
        <div *ngIf="question.type === 'input'">
          <h2>{{ question.question }}</h2>
          <ion-input
            [(ngModel)]="question.answer"
            placeholder="Enter your answer"
          ></ion-input>
        </div>
      </div>
    </div>
    <ion-button
      expand="full"
      (click)="generateJSONDocument()"
      shape="round"
      class="round-button"
      >Save</ion-button
    >
  </div>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="custom-title">Questionnaire</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cardContainer">
    <ion-card>
      <div class="container">
        <div class="question-container">
          <div class="question" *ngIf="currentQuestion">
            <div *ngIf="currentQuestion.type === 'multiple-choice'">
              <h2>{{ currentQuestion.question }}</h2>
              <ion-checkbox
                class="checkbox-wrapper"
                *ngFor="let choice of currentQuestion.choices"
                [checked]="choice === currentQuestion.answer"
                (ionChange)="updateAnswer(currentQuestion, choice)"
              >
                {{ choice }}
              </ion-checkbox>
            </div>
            <div *ngIf="currentQuestion.type === 'input'">
              <h2>{{ currentQuestion.question }}</h2>
              <ion-input
                [(ngModel)]="currentQuestion.answer"
                placeholder="Enter your answer"
              ></ion-input>
            </div>
            <ion-button
              expand="full"
              (click)="loadNextQuestion()"
              shape="round"
              class="round-button"
            >
              Next
            </ion-button>
          </div>
          <div class="question" *ngIf="!currentQuestion">
            <h2>Questionnaire Completed</h2>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <div class="question" *ngIf="!currentQuestion">
    <ion-button
      (click)="resetQuestionnaire(); goBackAction(); generateJSONDocument()"
      expand="block"
      fill="clear"
      shape="round"
    >
      Finish
    </ion-button>
  </div>
</ion-footer>
