<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title" size="large">Tasks</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="button-container">
      <!-- Place your ion-buttons here -->
      <ion-button class="taskButton" (click)="navigateDailyAction()"
        >Daily Tasks</ion-button
      >
      <ion-button class="taskButton" (click)="navigateWeeklyAction()"
        >Weekly Tasks</ion-button
      >
      <ion-button class="taskButton" (click)="navigateMonthlyAction()"
        >Monthly Tasks</ion-button
      >
    </div>
  </ion-content>
