<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title" size="large">Self Care</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
    <div class="button-container">
      <ion-button class="taskButton" (click)="navigateDailyAction()"
        >Daily Tasks</ion-button
      >
      <ion-button class="taskButton" (click)="navigateWeeklyAction()"
        >Weekly Tasks</ion-button
      >
      <ion-button class="taskButton" (click)="navigateMonthlyAction()"
        >Monthly Tasks</ion-button
      >
    </div>
  </ion-content> -->

<ion-content>
  <div class="container">
    <ion-card class="cardContainer" (click)="navigateToTasks()">
      <ion-icon
        class="iconContainer"
        src="../../assets/icons/task.svg"
        size="large"
      ></ion-icon>
      <ion-card-header>
        <ion-card-title class="titleContainer">Tasks</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="cardContainer" (click)="navigateToMeditate()">
      <ion-icon
        class="iconContainer"
        src="../../assets/icons/meditate.svg"
        size="large"
      ></ion-icon>
      <ion-card-header>
        <ion-card-title class="titleContainer">Meditate</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="cardContainer" (click)=" navigateToJournal()">
      <ion-icon
        class="iconContainer"
        src="../../assets/icons/journal.svg"
        size="large"
      ></ion-icon>
      <ion-card-header>
        <ion-card-title class="titleContainer">Journal</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="cardContainer" (click)="navigateToPedometer()">
      <ion-icon
        class="iconContainer"
        src="../../assets/icons/run.svg"
        size="large"
      ></ion-icon>
      <ion-card-header>
        <ion-card-title class="titleContainer">Pedometer</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="cardContainer" (click)=" navigateToForm()">
      <ion-icon
        class="iconContainer"
        src="../../assets/icons/form.svg"
        size="large"
      ></ion-icon>
      <ion-card-header>
        <ion-card-title class="titleContainer">Questionnaire</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
