<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large" class="custom-title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <div class="container">
    <div class="column">

      <ion-card href="https://www.cdc.gov/mentalhealth/learn/">
        <ion-card-content>
          <img src="../../assets/article1.jpeg" alt="">
  
        </ion-card-content>
        
        <ion-card-header>
          <ion-card-subtitle>About Mental Health (Article)</ion-card-subtitle>
        </ion-card-header>
       </ion-card>



       
       <ion-card href="https://www.nimh.nih.gov/health/topics/obsessive-compulsive-disorder-ocd">
        <ion-card-content>
          <img src="../../assets/ocd.jpg" alt="">
  
        </ion-card-content>
        
        <ion-card-header>
          <ion-card-subtitle>Obsessive-Compulsive Disorder (Article)
          </ion-card-subtitle>
        </ion-card-header>
       </ion-card>


       <ion-card href="https://www.healthaffairs.org/doi/10.1377/hlthaff.2021.00894">
        <ion-card-content>
          <img src="../../assets/story.jpeg" alt="">
  
        </ion-card-content>
        
        <ion-card-header>
          <ion-card-subtitle>Opening Up About My Struggle (Real Story)</ion-card-subtitle>
        </ion-card-header>
       </ion-card>



       <ion-card href="https://youtu.be/b4pP6HyXRMI">
        <ion-card-content>
          <img src="../../assets/catastrophizing.jpg" alt="">
  
        </ion-card-content>
        
        <ion-card-header>
          <ion-card-subtitle>Catastrophizing: How to Stop Making Yourself 
            Depressed and Anxious (Video)</ion-card-subtitle>
        </ion-card-header>
       </ion-card>




       <ion-card href="https://www.mind.org.uk/information-support/tips-for-everyday-living/wellbeing/wellbeing/">
        <ion-card-content>
          <img src="../../assets/improveMentalHealth.jpg" alt="">
  
        </ion-card-content>
        
        <ion-card-header>
          <ion-card-subtitle>Improve Your Mental Wellbeing (Article)</ion-card-subtitle>
        </ion-card-header>
       </ion-card>
       
  </div>
    <div class="column">


      <ion-card href="https://youtu.be/fk-_SwHhLLc">
        <ion-card-content>
          <img src="../../assets/sleepHygieneVideo.jpeg" alt="">
        </ion-card-content>
        
        <ion-card-header>
          <ion-card-subtitle>
           
            Train Your Brain to Fall Asleep and Sleep Better (Video)
          </ion-card-subtitle>
        </ion-card-header>
       </ion-card>
  


     <ion-card href="https://www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/11-tips-for-coping-with-an-anxiety-disorder">
      <ion-card-content>
        <img src="../../assets/anxietyArticle.jpeg" alt="">

      </ion-card-content>
      
      <ion-card-header>
        <ion-card-subtitle>How To Deal With Anxiety (Article)</ion-card-subtitle>
      </ion-card-header>
     </ion-card>


     
     <ion-card href="https://youtu.be/V3vhXQy48jo">
      <ion-card-content>
        <img src="../../assets/overThink.jpg" alt="">

      </ion-card-content>
      
      <ion-card-header>
        <ion-card-subtitle>Intrusive Thoughts and Overthinking (Video)
        </ion-card-subtitle>
      </ion-card-header>
     </ion-card>



     <ion-card href="https://youtu.be/u79XABa_mHk">
      <ion-card-content>
        <img src="../../assets/worryFuture.jpg" alt="">

      </ion-card-content>
      
      <ion-card-header>
        <ion-card-subtitle>How to Stop Worrying About the Future (Video)</ion-card-subtitle>
      </ion-card-header>
     </ion-card>
     
     
     <ion-card href="https://www.psychiatry.org/patients-families/ptsd/what-is-ptsd">
      <ion-card-content>
        <img src="../../assets/ptsdArticle.jpeg" alt="">

      </ion-card-content>
      
      <ion-card-header>
        <ion-card-subtitle>What is Posttraumatic Stress Disorder (PTSD)? (Article)</ion-card-subtitle>
      </ion-card-header>
     </ion-card>
     
     <ion-card href="https://adhd-women.eu/blog/this-is-my-adhd-story-literally/">
      <ion-card-content>
        <img src="../../assets/adhdStory.jpg" alt="">

      </ion-card-content>
      
      <ion-card-header>
        <ion-card-subtitle>This is MY ADHD Story; Literally
          (Real Story)</ion-card-subtitle>
      </ion-card-header>
     </ion-card>


      
    </div>
  </div>
  
</ion-content>
