<ion-header>
  <ion-toolbar> 
      <ion-title size="large" class="custom-title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="column">
      <ion-card *ngFor="let card of leftFeed" href="{{card.link}}">
        <ion-card-content>
          <img [src]="card.image" />
        </ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{card.description}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="column">
      <ion-card *ngFor="let card of rightFeed" href="{{card.link}}">
        <ion-card-content>
          <img [src]="card.image" />
        </ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{card.description}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>


