.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.column {
  flex: 2;
  padding: 0%;
}
.custom-title {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size:xx-large;
}

ion-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #fff5c3;
}

ion-card-content {
  padding: 0;
}

ion-card-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

ion-card-header {
  margin-top: 0;
}
.custom-title {
  font-family: "Playfair Display", serif;
  text-align: center;
}

ion-content {
  --ion-background-color: #faebd7;
}
