ion-content {
  --ion-background-color: #faebd7;
  padding: 0;
  margin: 0;
}
.custom-title {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: xx-large;
}

ion-card {
  --background: white;
}

img {
  border-radius: 100%;
  width: 20%;
}
toolbar-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
}

.headerMargin{

  display: flex;
  flex-direction: row;
  gap:15px;

  img{
    width:20%;
  }

}

.userNameContainer {
  font-weight: bold;
  font-size: medium;
}


ion-fab-button {
  --background: linear-gradient(
    336deg,
    rgba(215, 231, 250, 1) 0%,
    rgba(241, 201, 255, 1) 50%,
    rgba(215, 250, 245, 1) 100%
  );
}

ion-button {
  background: none;
}


ion-card-content{
  width: 100%;
}