<ion-header>
  <ion-toolbar>
    <ion-title class="custom-title" size="large">Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of community">
    <ion-card-header class="headerContainer">
      <img class="imageContainer" [src]="card.image" />
      <p class="userNameContainer">{{card.writer}}</p>
      <p class="postTime">{{card.time}}</p>
    </ion-card-header>
    <ion-card-content> {{card.content}} </ion-card-content>
    <ion-button (click)="likeCard(card)" [class.liked]="card.isLiked" size="medium">
      <ion-icon
        slot="icon-only"
        [name]="card.isLiked ? 'heart' : 'heart-outline'"
      ></ion-icon>
    </ion-button>
  </ion-card>

  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    (click)="postAction()"
  >
    <ion-fab-button>
      <ion-icon name="pencil-outline"></ion-icon> </ion-fab-button
  ></ion-fab>
</ion-content>
