<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBackAction()"><ion-icon color="primary" name="chevron-back-outline"></ion-icon>Back</ion-button>
      </ion-buttons>
      <ion-title class="custom-title" size="large">Daily Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let card of taskCards">
    <img [src]="card.image">
      <ion-card-header>
        <ion-card-title>{{ card.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ card.description }}</p>
        <p>Progress: {{ getProgressPercentage(card) }}</p>
        <ion-button (click)="onCardButtonClick(card)">Done</ion-button>
        <div class="progress-outer">
          <div class="progress-inner" [style.width]="progress + '%'">
           {{ progress }}%
          </div>
          </div>
      </ion-card-content>
    </ion-card>


</ion-content>




  -->

<!-- 
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="goBackAction()"><ion-icon color="primary" name="chevron-back-outline"></ion-icon>Back</ion-button>
        </ion-buttons>
        <ion-title class="custom-title" size="large">Daily Tasks</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-card *ngFor="let card of taskCards">
      <img [src]="card.image">
      <ion-card-header>
        <ion-card-title>{{ card.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ card.description }}</p>
        <p>Progress: {{ getProgressPercentage(card) }}</p>
        <ion-button (click)="onCardButtonClick(card)">Done</ion-button>
        <div class="progress-outer">
          <div class="progress-inner" [style.width]="getProgressPercentage(card)"></div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
   -->

<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="custom-title">Daily Tasks</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let card of taskCards">
    <img [src]="card.image" />
    <ion-card-header>
      <ion-card-title>{{ card.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ card.description }}</p>

      <div class="progress-outer">
        <div class="progress-inner" [style.width]="getProgressPercentage(card)">
          {{ getProgressPercentage(card) }}
        </div>
      </div>
      <ion-button (click)="onCardButtonClick(card)">Done</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
