<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="custom-title">Meditate</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-container">
    <div class="circular-timer">
      <div
        class="progress-bar"
        [style.animationDuration]="countdown + 's'"
      ></div>
      <div class="timer-container">
        <div class="timer-text">{{ formatCountdownTime(countdown) }}</div>
      </div>
    </div>
    <div class="meditateButton">
      <ion-button (click)="startTimerAction()">Start</ion-button>
    </div>
  </div>
</ion-content>
