<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="custom-title">Journal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cardContainer">
    <ion-card>
      <ion-card-header class="header">
        <ion-card-subtitle class="custom-title" color="dark"
          >What's On Your Mind</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content class="cardColor">
        <ion-textarea
          class="textContainer"
          label=""
          labelPlacement="floating"
          fill="outline"
          placeholder="Enter text"
          shape="round"
        ></ion-textarea>
      </ion-card-content>
      
      <div class="journalButton">
        <ion-button expand="block" fill="clear" shape="round" (click)="dontSaveAction()">
          Don't Save
        </ion-button>
      
        <ion-toast [isOpen]="isToastOpen" message="Journal did not save!" [duration]="2000" (didDismiss)="dontSaveAction()"></ion-toast>
      
        <ion-button expand="block" fill="clear" shape="round" (click)="saveAction()">
          Save
        </ion-button>
      
        <ion-toast [isOpen]="isToastOpen" message="Saving..." [duration]="2000" (didDismiss)="saveAction()"></ion-toast>
      </div>
      
    </ion-card>
  </div>
</ion-content>
