<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="custom-title">Journal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cardContainer">
    <ion-card>
      <ion-card-header class="header">
        <ion-card-subtitle class="custom-title" color="dark"
          >What's On Your Mind</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content class="cardColor">
        <ion-textarea
          class="textContainer"
          label=""
          labelPlacement="floating"
          fill="outline"
          placeholder="Enter text"
          shape="round"
        ></ion-textarea>
      </ion-card-content>
      <div class="journalButton">
        <ion-button expand="block" fill="clear" shape="round"
          >Don't Save</ion-button
        >
        <ion-button expand="block" fill="clear" shape="round">Save</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>

<!-- <ion-toast [message]="successMessage" *ngIf="showSuccessToast" position="middle"></ion-toast> -->
