<ion-toolbar>
  <ion-button slot="end" class="dismissButton" (click)="dismissModal()" size="small">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>
</ion-toolbar>


<ion-content>
<div class="mainContainer">
  <div class="column">
    <div class="row">

      <ion-card (click)="selectAvatar('../../../assets/UserPhotos/animal1.png')">
        <img src="../../../assets/UserPhotos/animal1.png" />
     </ion-card>

     <ion-card (click)="selectAvatar('../../../assets/UserPhotos/animal2.png')">
    <img src="../../../assets/UserPhotos/animal2.png" />
</ion-card>

<ion-card (click)="selectAvatar('../../../assets/UserPhotos/animal3.png')">
  <img src="../../../assets/UserPhotos/animal3.png" />
</ion-card>
    </div>
  
    <div class="row">
      <ion-card (click)="selectAvatar('../../../assets/UserPhotos/animal4.png')">
        <img src="../../../assets/UserPhotos/animal4.png" />
     </ion-card>
     <ion-card (click)="selectAvatar('../../../assets/UserPhotos/animal5.png')">
      <img src="../../../assets/UserPhotos/animal5.png" />
   </ion-card>
   <ion-card (click)="selectAvatar('../../../assets/UserPhotos/animal6.png')">
    <img src="../../../assets/UserPhotos/animal6.png" />
 </ion-card>
    </div>
  
  
    <div class="row">
      <ion-card (click)="selectAvatar('../../../assets/UserPhotos/animal7.png')">
        <img src="../../../assets/UserPhotos/animal7.png" />
     </ion-card>
     <ion-card (click)="selectAvatar('../../../assets/UserPhotos/animal8.png')">
      <img src="../../../assets/UserPhotos/animal8.png" />
   </ion-card>
   <ion-card (click)="selectAvatar('../../../assets/UserPhotos/animal9.png')">
    <img src="../../../assets/UserPhotos/animal9.png" />
 </ion-card>
    </div>
  
  
  </div>
</div>
</ion-content>
