.progress-outer {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-title {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: xx-large;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.journalTitle {
  font-family: "Playfair Display", serif;
  text-align: center;
}

.progress-inner {
  height: 100%;
  background-color: #e597ff;
  transition: width 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  border-radius: 20%;
}

ion-button {
  color: black;
  background: linear-gradient(
    24deg,
    rgba(227, 255, 221, 1) 0%,
    rgba(246, 231, 251, 1) 50%,
    rgba(215, 231, 250, 1) 100%
  );
  border-radius: 15px;
}

ion-content {
  --ion-background-color: #faebd7;
}
ion-card {
  --ion-background-color: white;
}
