ion-content {
  --background: rgb(227, 255, 221);
  --background: linear-gradient(
    24deg,
    rgba(227, 255, 221, 1) 0%,
    rgba(246, 231, 251, 1) 50%,
    rgba(215, 231, 250, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.ionCard {
  background: transparent;
}

.registerButton {
  --background: white;
  color: black;
  font-weight: lighter;
  width: 50%;
  border-radius: 0%;
  height: 30%;
  font-size: medium;
  --border-color: #f8c8dc;
}
.registerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 1%;
}

.forgotButton {
  --background: white;
  color: black;
  display: flex;
  justify-content: flex-end;
  font-size: normal;
}

.ionCard {
  background: white;
}

.inputArea {
  background: white;
  width: 100%;
}

ion-item {
  --ion-item-background: white;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.logo {
  max-width: 30%;
}

ion-card-title {
  font-weight: normal;
  font-style: italic;
  font-family: "Playfair Display", serif;
  text-align: center;
}

ion-button {
  --background: rgb(227, 255, 221);
  --background: linear-gradient(
    24deg,
    rgba(227, 255, 221, 1) 0%,
    rgba(246, 231, 251, 1) 50%,
    rgba(215, 231, 250, 1) 100%
  );
  color: black;
}

ion-button.custom-button {
  --background: #b2d2a4;
  color: #ffffff;
  outline: none;
}

ion-button.custom-button:hover,
ion-button.custom-button:active,
ion-button.custom-button:focus {
  --background: #b2d2a4;
  color: #ffffff;
  outline: none;
}
