ion-content{

    --ion-background-color: #B2D2A4;
    display: flex;
    align-items: center;
    justify-content: center
    
}

.registerButton{
  --background: #FAEBD7;
  color:black;
  font-weight:lighter;
  width: 50%;
  border-radius: 0%;
  height: 30%;
  font-size:medium;
  --border-color:#85b364;


}
.registerButton{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top:1%;

}


ion-button{
    --background: #B2D2A4;

    }

 .forgotButton{
    --background: #FAEBD7;
    color: black;
    display: flex;
    justify-content: flex-end;
    font-size: normal;
}

    
.ionCard{

    background: #FAEBD7;

}

.inputArea{

    background: #FAEBD7;
    width: 100%;

}

ion-item{
    --ion-item-background:#FAEBD7;


}
.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }
  
  .logo {
    max-width: 200px; 
  }

  ion-card-title{
    font-weight:normal;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    text-align: center;

  }

  ion-button {
    --background: #B2D2A4;

    color: #FFFFFF;
  }

  ion-button.custom-button {
    --background: #B2D2A4;
    color: #FFFFFF;
    outline: none; 
  }
  
  ion-button.custom-button:hover,
  ion-button.custom-button:active,
  ion-button.custom-button:focus {
    --background: #B2D2A4; 
    color: #FFFFFF; 
    outline: none; 
  }

  